      <div class="container">
        <div class="title">
          <h2>Upload de Relatório</h2>
        </div>

        <div class="form-upload">
          <form (submit)="onSubmit($event)">
            <div class="form-group">
              <label para="email">E-mail:</label>
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                name="email"
                (input)="validateEmail()"
                placeholder="Digite seu e-mail"
                required
              />
              <div *ngIf="!isEmailValid && email" class="error">
                E-mail inválido.
              </div>
            </div>

            <div class="form-group">
              <label para="files">Arquivos:</label>
              <input
                type="file"
                id="files"
                name="file"
                (change)="onFileChange($event)"
                accept=".xlsx"
              />
            </div>

            <div *ngIf="errorMessage" class="error">
              {{ errorMessage }}
            </div>

            <button type="submit">Confirmar</button>
          </form>
        </div>
      </div>

